<div class="video-container position-relative w-100 h-100 bg-dark overflow-hidden rounded-4 shadow-lg">
  <!-- Remote Video -->
  <video
    class="remote-video w-100 h-100"
    #remoteVideo
    autoplay
    playsInline
  ></video>

  <!-- Local Video (small preview) -->
  <video
    class="local-video position-absolute"
    #localVideo
    autoplay
    playsInline
  ></video>

  <!-- Controls -->
  <div class="controls-bar position-absolute bottom-0 start-0 end-0">
    @if(_signalRService.incomingCall) {
      <button class="call-btn accept-btn" (click)="acceptCall()">
        <mat-icon>call</mat-icon>
        <span>Accept</span>
      </button>

      <button class="call-btn decline-btn" (click)="declineCall()">
        <mat-icon>call_end</mat-icon>
        <span>Decline</span>
      </button>
    }
    @if (!_signalRService.incomingCall && !_signalRService.isCallActive) {
      <button class="call-btn start-btn" (click)="startCall()">
        <mat-icon>call</mat-icon>
        <span>Start Call</span>
      </button>
    }
    @if (!_signalRService.incomingCall) {
      <button class="call-btn end-btn bg-danger" (click)="endCall()">
        <mat-icon>call_end</mat-icon>
        <span>End Call</span>
      </button>
    }
  </div>
</div>
