.profile-right-card {
  background: #ffffff;
  width: 100%;
}
.profile-image-wrapper {
  position: relative;
  display: inline-block;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-image:hover {
  transform: scale(1.03);
}

.about-section {
  max-width: 85%;
  line-height: 1.6;
}

